<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>All Users</h2>
<br>

<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th colspan="2">Operations</th>
    </tr>
    <th:block th:each="user : ${allUsers}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:method="GET" th:action="@{allUsers/edit/{id}(id=${user.getId()})}" th:object="${user}">
                    <button type="submit">
                        Update
                    </button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/deleteUser/{id}(id=${user.getId()})}" th:object="${user}">
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </th:block>

</table>

<br>

<input type="button" value="Add" onclick="window.location.href='addNewUser'"/>


</body>

</html>